<section class="body-1">
    <img src="../../../assets/img/Logo (2).png" alt="logo">
    <h1 style="font-size: 55px;">
        Amplía tu <br>
        Marcado<br>
        con<br>
        VetMarket<br>
    </h1>
</section>
<section class="body-2">
    <p style="font-size: 30px;">
        Con VetMarket, podrás llegar a una audiencia <br>
        más amplia y compartir tus productos y servicios en <br>
        linea 
    </p>
    <div class="image">
    <img src="../../../assets/img/perrito-caja.jfif" alt="">
    </div>
</section>
<section class="body-2">
    <div class="image">
        <img src="../../../assets/img/perrito-tierno.jfif" alt="">
    </div>
    <div class="parrafo">
        <h1 style="font-size: 55px;">
            Aunmenta tu visibilidad <br>
            en linea<br>
        </h1>
    <p style="font-size: 30px;">
        Con VetMarket, podrás tener una presencia en <br> línea y llegar a más clientes. Publica tus <br> productos y servicios, horario y ubicación <br> fácilmente. 
    </p>
    </div>
</section>
<section class="body-2">
    <div class="parrafo">
        <h1 style="font-size: 55px;">
            Promueve tus <br>
            servicios y productos<br>
        </h1>
    <p style="font-size: 30px;">
        Con VetMarket, podrás promocionar tus productos a una audiencia más amplia. <br> Destaca tus mejores ofertas y <br> promociones para atraer a más audiencia.
    </p>
</div>
    <div class="image">
        <img src="../../../assets/img/veterinario.jfif" alt="">
    </div>

</section>
