*{
    padding: 0px;
    margin: 0px;
}

section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}

a{
    text-decoration: none;
    color: black;
}
.encabezado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    margin-bottom: 10px;
}