<section>
    <img src="../../../assets/img/icono.png" alt="icono">
    <a href="/Product">Productos</a>
    <a href="#">Servicios</a>
    <a href="#">Veterinarios</a>
    <a href="/trabaja-con-nosotros">Trabaja Con Nosotros</a>
    <a href="/login">Iniciar Sesion</a>
  </section> 
  <section class="contenedor">
        <!-- Contenedor de elementos -->
        <div class="contenedor-items">
          <div class="item" *ngFor="let product of products">
              <span class="titulo-item">{{product.name}}</span>
              <img [src]="product.image" alt="" class="img-item" style="height: 100px;">
              <span class="descripcion-item">{{product.description}}</span>
              <span class="precio-item">{{product.price | currency}}</span>
              <button class="boton-item" (click)="product.id !== undefined   && addToCart(product.id)">Agregar al Carrito</button>
          </div>
        </div>
  </section>
