<hr>
<section>
    <img src="../../../assets/img/icono.png" alt="icono">
    <a href="/Product">Productos</a>
    <a href="#">Servicios</a>
    <a href="#">Veterinarios</a>
    <a href="/trabaja-con-nosotros">Trabaja Con Nosotros</a>
    <a href="/login">Iniciar Sesion</a>
  </section>
<hr>
<div class="team-boxed">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">¿Cuentanos como deseas trabajar con nosotros? </h2>
            <p class="text-center">Es importante saber como quieres empezar a trabajar con nosotros, en mundo animal le damos oportunidad
                a Veterinarias(empresas), Veterinarios(a) persona independiente y domicilario a que puedan trabajar con nosotros
            </p>
        </div>
        <div class="row people">
            <div class="col-md-6 col-lg-4 item">
                <div class="box"><img class="rounded-circle" src="../../../assets/img/tienda.jpeg" style="height: 160px;">
                    <h3 class="name">Veterinaria</h3>
                    <p class="title">Empresa</p>
                    <p class="description">En este apartado llenaras un pequeño formulario que es nesesario para que nuestro equipo verifique y evalue si cumples con los requisitos para poder pertecer al equipo de trabajo Mundo Animal</p>
                    <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    <button type="button"  routerLink="/form-veterinaria" class="btn btn-outline-primary">Llenar Formulario</button>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <div class="box"><img class="rounded-circle" src="../../../assets/img/vete.png">
                    <h3 class="name">Veterinario (a)</h3>
                    <p class="title">Perosna</p>
                    <p class="description">En Mundo Animal es muy importante la salud de nuestras mascotas domesticas asi mismo debemos tener profesionales que cumplan con los requisitos para poder cuidar de ellos. </p>
                    <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    <button type="button"  routerLink="/form-veterinario" class="btn btn-outline-primary">llenar Formulario</button>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <div class="box"><img class="rounded-circle" src="../../../assets/img/domi.jpg">
                    <h3 class="name">Domiciliario</h3>
                    <p class="title">Persona</p>
                    <p class="description">En Mundo Animal queremos ofrecer un servicio a domicilio</p>
                    <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    <button type="button" routerLink="/form-domiciliario" class="btn btn-outline-primary">Llenar Formulario</button>
                </div>
            </div>
        </div>
    </div>
</div>